.wrap{
    width: 1200px;
    height: 1200px;
    margin: 0 auto;

}
.form-group{
    width: 80%;
    height: 13%;
    background-color: #ddeafc;
    border-radius: 5px;


}
.b{
    width:90%;
    padding: 0.5rem;
    background-color: white;
    border: 1px solid #cccccc;
    margin-left: 20px;
    float: left;
    margin-top: -10px;


}
input[type=checkbox]{
    margin-left: 98%;
    margin-top: -10px;
    float: left;


}
.ad{
    float: left;
    margin-top: -10px;

}
.c{
    width: 15%;
    float: left;
    margin-left: -65px;
    margin-top: 20px;
    padding: 0.5rem;
    box-sizing: border-box;


}
.d{
    width: 15%;
    float: left;
    margin-left: 10px;
    margin-top: 20px;
    padding: 0.5rem;
    box-sizing: border-box;


}
.e{
    width: 58.8%;
    padding: 0.5rem;
    box-sizing: border-box;
    margin-left: 20px;
    margin-top: 20px;

}
.form-group1{
    width: 80%;
    height: 5%;
    background-color: #ddeafc;
    border-radius: 5px;
    margin-top: 20px;
}
.q{


}
.r{
    margin-left: 20px;
    margin-top: 25px;
    float: left;


}
.q{
    margin-left: 20px;
    margin-top: 20px;
    float: left;

}
.w{
    float: left;
    margin-top: 25px;
    margin-left: 35px;

}
.t{

    float: left;
    margin-top: 17px;
    margin-left: 18px;
    color: grey;
}
.y{
    width: 59.5%;
    padding: 0.5rem;
    box-sizing: border-box;
    float: left;
    margin-left: 30px;
    margin-top: 12px;

}
.form-group2{
    width: 80%;
    height: 30%;
    background-color: #ddeafc;
    border-radius: 5px;
    margin-top: 20px;
}
.a2{
    width: 44%;
    padding: 0.4rem;
    float: left;
    margin-left: 30px;
    box-sizing: border-box;

}
.a11{
    margin-top: -35px;
    float: left;

}
.a3{
    width: 44%;
    padding: 0.4rem;
    float: left;
    margin-left: 30px;
    box-sizing: border-box;

}
.a12{
    float: left;
    top: -5px;

}
.a4{
    float: left;
    margin-top: 50px;
    margin-left: -40px;
    width: 44%;
    padding: 0.4rem;
    box-sizing: border-box;

}
.a13{
    float: left;


}
.a5{
    width: 44%;
    padding: 0.4rem;
    box-sizing: border-box;
    float: left;
    margin-left: 30px;

}
.a14{
    float: left;

}
.a6{
    float: left;
    width: 44%;
    padding: 0.4rem;
    box-sizing: border-box;
    margin-left: -70px;
    margin-top: 50px;
}
.a15{
    float: left;

}
.a7{
    float: left;
    width: 44%;
    padding: 0.4rem;
    box-sizing: border-box;
    margin-left: 35px;
    margin-top: -3px;
}
.a16{
    float: left;
    margin-top: 40px;
    margin-left: -94.4%;

}
.a8{
    float: left;
    width: 44%;
    padding: 0.4rem;
    box-sizing: border-box;
    margin-top: 70px;
    margin-left: -882px;
}
.a17{
    float: left;
    margin-top: 1%;
    margin-left: 30px;
}
.a9{
    float: left;
    padding: 0.4rem;
    box-sizing: border-box;
    margin-left: -30px;
    margin-top: 37px;
    width: 21%;
}

.a19{
    float: left;
    margin-top: 10px;
    margin-left: 50px;

}
.a10{
    float: left;
    margin-left: 20px;
    margin-top: -10px;
    width: 21%;
    padding: 0.4rem;
    box-sizing: border-box;
}
.form-group3{
    width: 80%;


}

